<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>roastme.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB3D872F1C6A8661002D489E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB3D87451C6A8661002D489E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB3D87501C6A8661002D489E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
